DEBUG=True
ENVIRONMENT=dev
BASE_URL=http://localhost:8000

DB_NAME=fastapi_db
DB_HOST=db
DB_USER=fastapi_user
DB_PASSWORD=fastapi_password
DB_PORT=5432
DB_TIMEOUT=30

# SQLAlchemy DB pool settings
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1800
DB_POOL_PRE_PING=True

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRES_IN=36000
JWT_REFRESH_EXPIRES_IN=604800
JWT_ALGORITHM=HS256
